.skills-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
  
  
   
}

.skills{
    border: 1px solid #e0e0e0;
    width:450px;
    height:600px;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    
}
.skill-heading{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 25px 25px 0px 0px;
    text-align: center;
    font-size: 25px;
    font-family: 'Aboreto';
    background-color: #e0e0e0;
}
.skill-sub-heading{
    padding: 10px;
    line-height: 5rem;
    font-size: 30px;
}

.skill-sub-heading p{
    display: flex;
}